* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/churrasco.jpeg);
  background-size: cover;
}

h1 {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

p {
  color: white;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

h2 {
  color: white;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
}

.container {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 300px;
  margin: auto;
  background-color: aquamarine;
  padding: 20px;
  border-radius: 15px;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(115, 135, 224);
  color: white;
  box-sizing: border-box;
  margin-bottom: 10px;
  align-items: center;
}
